{
  "openapi": "3.1.0",
  "info": {
    "title": "Realsee Argus Gateway API",
    "version": "2.0.0",
    "description": "Public Gateway contract used by Argus Skill 2.x. The same paths are available on the global and China Gateway bases. Upload credentials and temporary result URLs must not be persisted or logged."
  },
  "servers": [
    {
      "url": "https://app-gateway.realsee.ai",
      "description": "global"
    },
    {
      "url": "https://app-gateway.realsee.cn",
      "description": "cn"
    }
  ],
  "paths": {
    "/auth/access_token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Get a Gateway access token",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gateway envelope containing an access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/open/v1/argus/file/token": {
      "get": {
        "operationId": "getArgusFileToken",
        "summary": "Get a temporary upload lease for one normalized input ZIP",
        "description": "The bucket, region, and prefix together identify the upload lease. Credentials are temporary and must never be persisted.",
        "security": [
          {
            "gatewayAccessToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Gateway envelope containing object-storage upload credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileTokenEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/open/v1/argus/task/submit": {
      "post": {
        "operationId": "submitArgusTask",
        "summary": "Submit one Argus task",
        "description": "This operation is not idempotent. Clients must not retry automatically when the response outcome is unknown.",
        "security": [
          {
            "gatewayAccessToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gateway envelope containing the durable task code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitTaskEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/open/v1/argus/task/info": {
      "get": {
        "operationId": "getArgusTaskInfo",
        "summary": "Get task state and terminal result metadata",
        "security": [
          {
            "gatewayAccessToken": []
          }
        ],
        "parameters": [
          {
            "name": "task_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gateway envelope containing task state. output_url is present but empty in non-terminal states and contains a temporary URL after success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskInfoEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "gatewayAccessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Raw Gateway access token value, without a Bearer prefix."
      }
    },
    "schemas": {
      "GatewayEnvelopeBase": {
        "type": "object",
        "required": [
          "request_id",
          "trace_id",
          "business_code",
          "osi_request_id",
          "code",
          "status",
          "data",
          "cost"
        ],
        "properties": {
          "request_id": {
            "type": "string"
          },
          "trace_id": {
            "type": "string"
          },
          "business_code": {
            "type": "string"
          },
          "osi_request_id": {
            "type": "string"
          },
          "code": {
            "type": "integer",
            "description": "Gateway success code is 0."
          },
          "status": {
            "type": "string",
            "description": "Gateway status or error message."
          },
          "data": {
            "type": [
              "object",
              "null"
            ],
            "description": "Response payload. Gateway errors may return null."
          },
          "cost": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": true
      },
      "AccessTokenRequest": {
        "type": "object",
        "required": [
          "app_key",
          "app_secret"
        ],
        "properties": {
          "app_key": {
            "type": "string",
            "minLength": 1
          },
          "app_secret": {
            "type": "string",
            "minLength": 1,
            "writeOnly": true
          }
        },
        "additionalProperties": false
      },
      "AccessTokenData": {
        "type": "object",
        "required": [
          "access_token",
          "expire_at"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "minLength": 1,
            "writeOnly": true
          },
          "expire_at": {
            "type": "integer",
            "description": "Unix timestamp at which the access token expires."
          }
        },
        "additionalProperties": true
      },
      "AccessTokenEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GatewayEnvelopeBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/AccessTokenData"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          }
        ]
      },
      "UploadTokenData": {
        "type": "object",
        "required": [
          "tmpSecretId",
          "tmpSecretKey",
          "sessionToken",
          "bucket",
          "region",
          "prefix",
          "expire",
          "ttl"
        ],
        "properties": {
          "tmpSecretId": {
            "type": "string",
            "writeOnly": true
          },
          "tmpSecretKey": {
            "type": "string",
            "writeOnly": true
          },
          "sessionToken": {
            "type": "string",
            "writeOnly": true
          },
          "bucket": {
            "type": "string",
            "minLength": 1
          },
          "region": {
            "type": "string",
            "minLength": 1
          },
          "prefix": {
            "type": "string",
            "minLength": 1
          },
          "expire": {
            "type": "number"
          },
          "ttl": {
            "type": "number"
          },
          "app_id": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "force_path_style": {
            "type": "boolean"
          },
          "is_accelerate": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ]
          },
          "download_type": {
            "type": "string",
            "enum": [
              "presign",
              "direct"
            ]
          },
          "download_host": {
            "type": "string"
          },
          "custom_domain": {
            "type": "string"
          },
          "custom_scheme": {
            "type": "string"
          },
          "backup": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/UploadTokenData"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional backup upload lease with the same shape as the primary lease."
          }
        },
        "additionalProperties": true
      },
      "FileTokenEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GatewayEnvelopeBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/UploadTokenData"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          }
        ]
      },
      "SubmitTaskRequest": {
        "type": "object",
        "required": [
          "private_cos_keys",
          "title"
        ],
        "properties": {
          "private_cos_keys": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "minLength": 1
            },
            "description": "Full object paths returned by upload: each token prefix plus upload key."
          },
          "title": {
            "type": "string",
            "minLength": 1
          }
        },
        "additionalProperties": false
      },
      "SubmitTaskData": {
        "type": "object",
        "required": [
          "task_code"
        ],
        "properties": {
          "task_code": {
            "type": "string",
            "minLength": 1
          }
        },
        "additionalProperties": true
      },
      "SubmitTaskEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GatewayEnvelopeBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SubmitTaskData"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          }
        ]
      },
      "ArgusTaskStatus": {
        "type": "integer",
        "enum": [
          0,
          1,
          2,
          3
        ],
        "description": "0=queued, 1=processing, 2=succeeded, 3=failed."
      },
      "TaskInfoData": {
        "type": "object",
        "required": [
          "create_timestamp",
          "error_message",
          "expiration_timestamp",
          "modify_timestamp",
          "output_url",
          "status"
        ],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ArgusTaskStatus"
          },
          "output_url": {
            "type": "string",
            "description": "Temporary output.zip URL after success. Non-terminal states return an empty string. Clients must not persist it."
          },
          "expiration_timestamp": {
            "type": "integer",
            "description": "Unix timestamp at which output_url expires."
          },
          "error_message": {
            "type": "string"
          },
          "create_timestamp": {
            "type": "integer"
          },
          "modify_timestamp": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "TaskInfoEnvelope": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GatewayEnvelopeBase"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/TaskInfoData"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          }
        ]
      }
    }
  }
}
